#!/usr/bin/env python
PACKAGE = "offb_example"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# scheduling parameter
gen.add("L1", double_t, 0, "L1 distance", 1.0, 1.0, 20.0)
gen.add("adaptive_gain", double_t, 0, "Adaptive gain", 1.0, 0.1, 5.0)

# Additonal parameter
gen.add("velocity_filter_alpha", double_t, 0, "Velocity filter smoothing factor", 1.0, 0.01, 1.0)
gen.add("drone_mass", double_t, 0, "Drone mass in kg", 1.735, 0.5, 5.0)
gen.add("max_thrust", double_t, 0, "Maximum thrust in Newtons", 34.4, 10.0, 50.0)
gen.add("hover_thrust_percentage", double_t, 0, "Hover thrust percentage", 0.5, 0.3, 0.8)

exit(gen.generate(PACKAGE, "asmc_attitude_control", "ASMCAttitudeControl"))
