#!/usr/bin/env python
PACKAGE = "offb_example"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# XY 
gen.add("kp_xy", double_t, 0, "P gain for XY control", 1.5, 0.0, 10.0)
gen.add("ki_xy", double_t, 0, "I gain for XY control", 0.0, 0.0, 5.0)
gen.add("kd_xy", double_t, 0, "D gain for XY control", 0.0, 0.0, 5.0)

# Z 
gen.add("kp_z", double_t, 0, "P gain for Z control", 1.5, 0.0, 10.0)
gen.add("ki_z", double_t, 0, "I gain for Z control", 0.0, 0.0, 5.0)
gen.add("kd_z", double_t, 0, "D gain for Z control", 0.0, 0.0, 5.0)

# limitation
gen.add("max_integral_xy", double_t, 0, "Maximum integral term for XY", 1.0, 0.0, 10.0)
gen.add("max_integral_z", double_t, 0, "Maximum integral term for Z", 1.0, 0.0, 10.0)
gen.add("max_output_xy", double_t, 0, "Maximum output for XY", 2.0, 0.0, 10.0)
gen.add("max_output_z", double_t, 0, "Maximum output for Z", 2.0, 0.0, 10.0)

# damping
gen.add("velocity_damping_xy", double_t, 0, "Velocity damping for XY", 0.1, 0.0, 1.0)
gen.add("velocity_damping_z", double_t, 0, "Velocity damping for Z", 0.1, 0.0, 1.0)
gen.add("deadzone_xy", double_t, 0, "Deadzone for XY control", 0.05, 0.0, 0.5)
gen.add("deadzone_z", double_t, 0, "Deadzone for Z control", 0.05, 0.0, 0.5)

exit(gen.generate(PACKAGE, "pid_position_control", "PIDPositionControl"))
